body{
    margin: 40px auto;
    max-width:740px;
    background-color: #ffffff;
    color: #040102;
    font-size:17px;
    padding:0 10px
}

/* External links are marked with an icon */
a.external {
    background: url('Images/external.png') no-repeat 100% 0;
    background-size: 10px 10px;
    padding-right: 16px;
}

/* Code font-size is adjusted so code fits in column */
pre{
    font-size: 14px
}